/* 
Library created by Link
*/

.alert {
	padding: 12px 18px 12px 18px;
	border: 0.8px solid  #fff;
	border-radius: 5px;
	/* position */
	position: absolute;
	bottom: 20px;
	right: 21px;
	float: right;
	clear: right;
}
.alert-warning {
	background-color: rgba(126, 140, 0, 0.8);
	color: #fff;
}
.alert-error {
	background-color: rgba(224, 9, 9, 0.8);
	color: #fff;
}
.alert-success {
	background-color: rgba(1, 77, 3, 0.8);
	color: #fff;
}

